/* Variables */
$vin-blue: #5bb7db;


////////////
/* Styles */
////////////

body {
  //background-color: #efefef;
  background-color: #363636;

}

h1 {
  color: #e2a331;
}

h2 {
  color: $vin-blue;
}


//////////////
/* AlbumPage */
///////////////

.album-container {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  justify-content: center;
}

/* AlbumTitle */

.albumtitle-container {
  //border-top: solid;
  //border-bottom: solid;
  //background-color: aliceblue;

  border-left: solid;
  border-left-width: 10px;
  border-left-color: slategray;
  background-color: lightsteelblue;

  padding-bottom: 1px;

  margin: 1px 0px;
}

///////////////
/* PhotoPage */
///////////////

//same as "d-flex justify-content-center" in bootstrap
.photo-container-div {
  display: flex;
  justify-content: center;
  //align-self: center;
}

.PhotoPage-img {
  max-height: 80vh;
}





//////////////////////
/* Share components */
//////////////////////

/* Image */

.image-container-div {
  //border-style: solid;
  display: flex;
  max-width: 18vw;
  max-height: 18vw;
  min-width: 8vw;
  min-height: 8vw;
}

.image-container-div > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  padding: 0.25rem;
  margin: 0px 1px;
  //background-color: #fff;
  //border: 1px solid #dee2e6;
  border-radius: 4px;
}
